---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="FiscalizaJá: Uma forma diferente de fiscalizar. | Gastos dos políticos com dinheiro público" description="FiscalizaJá é um projeto que surgiu em meados de fevereiro de 2023, com objetivo de promover e possibilitar a transparência política no Brasil, permitindo que cidadãos auditem de forma fácil os gastos dos políticos com o dinheiro público.">
    <header>
        <div>
            <h1 id="ditado-apply">Fiscalizar nunca foi tão fácil.</h1>
            <p>FiscalizaJá é um projeto que surgiu em meados de fevereiro de 2023, com objetivo de promover e possibilitar a transparência política no Brasil, permitindo que cidadãos auditem de forma fácil os gastos dos políticos com o dinheiro público.</p>
        </div>
        <picture>
            <source srcset="/fiscawalk3.webp" type="image/webp" />
            <img 
                src="/fiscawalk3.gif"
                alt="Animação do personagem do FiscalizaJá. Um homem simples que usa roupas rouxas e tem o cabelo também rouxo. Está andando sem rumo para frente, passando pela logo da Câmara dos deputados e do Senado Federal. Duas das plataformas as quais o FiscalizaJá está se expandido. O nome da animação é 'FiscaWalk'"
                width="550"
                height="550"
            />
        </picture>
    </header>

    <script src="/selecionaDitado.js" is:inline></script>
    <main>
        <h1>Coleções</h1>

        <div id="collections">
            <div>
                <img 
                    src="/vault.png"
                    alt="Imagem de um homem olhando dentro do cofre. O cofre representa o dinheiro público, possuímos o direito de auditar!"
                    width="310"
                    height="230"
                />
                <h2>FiscalizaJá Deputados</h2>
                <p>Fiscalização na Câmara dos Deputados</p>
                <a href="https://deputados.fiscalizaja.com">Quero ver! &gt;</a>
            </div>
        </div>

        <h2 style="margin-top: 4.6rem;">Colaboladores</h2>

        <div id="colaborators">
            <a href="https://www.linkedin.com/in/victorreisdavid/" target="_blank">
                <div class="image-container">
                    <picture>
                        <source srcset="/victor.webp" type="image/webp" />

                        <img 
                            src="/victor.jpg"
                            alt="Foto do desenvolvedor do FiscalizaJa, Victor Reis David."
                            width="160"
                            height="160"    
                        />
                    </picture>
                </div>
                <h3>Victor Reis David</h3>
                <p>Desenvolvedor do FiscalizaJá</p>
            </a>
            <a href="https://www.linkedin.com/in/marcos-vinicius-186084271/" target="_blank">
                <div class="image-container">
                    <picture>
                        <source srcset="/marcos.webp" type="image/webp" />

                        <img 
                            src="/marcos.png"
                            alt="Foto do Marcos, patrocinador do domínio fiscalizaja.com"
                            width="160"
                            height="160"    
                        />
                    </picture>
                </div>
                <h3>Marcos Vinicius</h3>
                <p>Patrocinador do domínio fiscalizaja.com</p>
            </a>
            <a>
                <div class="image-container">
                    <picture>
                        <source srcset="/miguel.webp" type="image/webp" />

                        <img 
                            src="/miguel.png"
                            alt="Foto do Miguel, designer gráfico responsável pelas artes."
                            width="160"
                            height="160"
                            style="object-position: top;"
                        />
                    </picture>
                </div>
                <h3>Miguel Henrique</h3>
                <p>Designer gráfico por trás das artes</p>
            </a>
        </div>
    </main>
</BaseLayout>